Backend/bin/Debug/net8.0/Backend.dll
Backend/bin/Debug/net8.0/Backend.exe
Backend/bin/Debug/net8.0/Backend.pdb
Backend/obj/Debug/net8.0/apphost.exe
Backend/obj/Debug/net8.0/Backend.AssemblyInfo.cs
Backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
Backend/obj/Debug/net8.0/Backend.dll
Backend/obj/Debug/net8.0/Backend.pdb
Backend/obj/Debug/net8.0/Backend.sourcelink.json
Backend/obj/Debug/net8.0/ref/Backend.dll
Backend/obj/Debug/net8.0/refint/Backend.dll
